<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="product">
  	<!-- 数据库与Java类映射 -->
  	<resultMap type="cn.wolfcode.shop.domain.Product" id="baseMap">
  		<id column="id" property="uid"/>
  		<result column="productName" property="uproductName"/>
  		<result column="dir_id" property="udir_id"/>
  		<result column="salePrice" property="usalePrice"/>
  		<result column="supplier" property="usupplier"/>
  		<result column="brand" property="ubrand"/>
 		<result column="cutoff" property="ucutoff"/>
 		<result column="costPrice" property="ucostPrice"/>
  	</resultMap>
  	
  	<!-- 具体sql语句 -->
  	
  	<sql id="query_Sql">id, productName, dir_id, salePrice, supplier, brand, cutoff, costPrice from product</sql>
  	<sql id="advanced_Sql">
  			<where>
				<if test="productName != null">
					and productName like concat('%', #{productName}, '%')
				</if>
				<if test="minSalePrice > 0">
					and salePrice &gt;= #{minSalePrice}
				</if>
				<if test="maxSalePrice > 0">
					and salePrice &lt;= #{maxSalePrice}
				</if>
				<if test="brand != null">
					and brand = #{brand}
				</if>
				<if test="dir_id > 1">
					and dir_id = #{dir_id}
				</if>			
  			</where>
  	</sql>
  	
  	<select id="query" resultMap="baseMap">
  		select <include refid="query_Sql"/>
  			   <include refid="advanced_Sql"/>
  			   limit #{startIndex}, #{pageSize}
  	</select>
  	<select id="queryCount" resultType="Long">
  		select count(id) from product
  			   <include refid="advanced_Sql"/>
  	</select>
  	
  	
  	<select id="get" resultMap="baseMap">
  		select
  			<include refid="query_Sql"/> 
  			  where id = #{id}
  	</select>
  	
  	<select id="list" resultMap="baseMap">
  		select 
  			<include refid="query_Sql"/>
  	</select>
  	
  	<delete id="delete">
  		delete from product where id = #{id}
  	</delete>
  	
  	<insert id="save">
  		insert into product (productName, dir_id, salePrice, supplier, brand, cutoff, costPrice) values
  			(#{uproductName}, #{udir_id}, #{usalePrice}, #{usupplier}, #{ubrand}, #{ucutoff}, #{ucostPrice})
  	</insert>
  	
  	<update id="update">
  		update product set productName = #{uproductName}, dir_id = #{udir_id}, salePrice = #{usalePrice}, supplier = #{usupplier}, brand = #{ubrand},
  					 cutoff = #{ucutoff}, costPrice = #{ucostPrice} where id = #{uid}
  	</update>
  </mapper>